extends layout

block content
  .container.mt-5
    h2.text-center.mb-4 🐣 Manage Chick Stock

    // Display current stock
    if stockItems.length
      table.table.table-bordered
        thead
          tr
            th Chick Type
            th Quantity
        tbody
          each item in stockItems
            tr
              td #{item.type}
              td #{item.quantity}
    else
      p No stock available yet.

    hr

    // Form to add or increment stock
    form(action=`/managestock/${manager._Id}` method='POST')
      .mb-3
        label.form-label(for='type') Chick Type
        select.form-control(name='type' required)
          option(value='Broiler') Broiler
          option(value='Layer') Layer
      .mb-3
        label.form-label(for='quantity') Quantity
        input.form-control(type='number', name='quantity', min='0' required)
      button.btn.btn-primary(type='submit') Add / Update Stock

    hr

    a.btn.btn-secondary(href=`/broodermanager/dashboard/${managerId}`) Back to Dashboard
    a.btn.btn-danger.ms-2(href='/logout') Logout